@import "../../../assets/sass/variables.scss";

.footer {
  $responsive-gap: 2.5rem;
  background-color: $c-pr-dark-blue;
  &__footer-wrapper {
    display: flex;
    align-items: center;
    @include wrapper;
    height: 13.75rem;
    padding: 3.75rem 2.5rem;
    @media (width<=$rd-mobile-1000) {
      height: auto;
    }
    @media (width<=$rd-mobile-767) {
      flex-direction: column;
      height: auto;
      justify-content: center;
      gap: $responsive-gap;
    }
  }

  &__social-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 6.25rem;
    @media (width<=$rd-mobile-1000) {
      margin: auto;
      gap: $responsive-gap;
      align-items: center;
    }
  }
  .nav {
    height: 100%;
    @media (width<=$rd-mobile-1000) {
      text-align: center;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 0.9375rem 6.25rem;
      @media (width<=$rd-mobile-1000) {
        flex-wrap: nowrap;
      }
    }

    &__link {
      text-decoration: none;
      color: $c-ne-light-grayish-blue;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $c-pr-lime-green;
      }
    }
  }
  &__copyright-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    margin-left: auto;
    @media (width<=$rd-mobile-1000) {
      align-items: center;
      margin: auto;
      gap: $responsive-gap;
    }
  }
  &__copyright {
    color: $c-ne-grayish-blue;
  }
}
