@import "../../assets/sass/variables.scss";

.article {
  background-color: $c-ne-white;
  $margin-size: 1.5625rem;
  min-width: 15rem;
  border-radius: 8px;
  overflow: hidden;
  &__img {
    height: 200px;
    width: calc(100% + 15px);
  }
  &__text-wrapper {
    padding: 25px;
  }
  &__author {
    @include textStylePrimary;
    font-size: 0.7rem;
  }
  &__heading {
    @include headingStylePrimary;
    font-size: 22px;
    margin: 1rem 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $c-pr-lime-green;
    }
  }
  &__text {
    @include textStylePrimary;
    font-size: 0.9rem;
    margin-right: 0.625rem;
  }
}
