@import "../../assets/sass/variables.scss";
.section {
  padding: 6.25rem 0;
  background-color: $c-ne-very-light-Gray;

  &__heading {
    @include headingStylePrimary;
    font-size: 2.25rem;
    margin-bottom: 1.5625rem;
  }
  &__text {
    @include textStylePrimary;
    max-width: 50%;
    margin-bottom: 3.125rem;
  }
  &__articles-wrapper {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
}
