@import "../../../assets/sass/variables.scss";

.section {
  padding: 6.25rem 0;
  background-color: $c-ne-light-grayish-blue;
  @media (width <=$rd-mobile-1300) {
    text-align: center;
  }
  &__section-wrapper {
    @include wrapper;
  }

  &__heading {
    @include headingStylePrimary;
    font-size: 2.25rem;
    margin-bottom: 1.5625rem;
  }
  &__text {
    @include textStylePrimary;
    max-width: 50%;
    margin-bottom: 3.125rem;
    @media (width <=$rd-mobile-1300) {
      max-width: 700px;
      margin: 0 auto 50px;
    }
  }
  &__features-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem 0;
  }
}
